<% include top %>

<div id='notetitles'> 
  <table class="table table-striped table-hover table-bordered">
    <thead>
      <tr class="success">
        <th width="*">No</th>
        <th width="*">Title</th>
        <th width="*">Url</th>
        <th width="*">Action</th>
      </tr>
    </thead>
    <tbody>
      <%
      if (notes) {
        var i = 1;
        notes.forEach(function(note) {
          %>
          <tr>

            <td><%= i %></td>
            <td><%= note.key %>:</td>
            <td><a href="/noteview?key=<%= note.key %>"><%= note.title %></a>
            </td>
            <td><a href="/getcontent?key=<%= note.key %>" class="btn btn-info" role="button"><%= "Action" %></a></td>
          </tr><%
          i++
        });
      }
      %>
    </tbody>
  </table>
</div>

</div>

<script>
  $(document).ready(function() {
    var getnotetitles = function() {
      socket.emit('notetitles', function (notes) {
        $('#notetitles').empty();
        notes.forEach(function(note) {
          $('#notetitles').append('<p>'+ note.key 
            +': <a href="/noteview?key='+ note.key +'">'+ note.title +'</a></p>');
        });
      });
    }
    socket.on('noteupdated', getnotetitles);
    socket.on('notedeleted', getnotetitles);
  });
</script>

<% include bottom %>